.language-picker {
  margin-bottom: 40px;

  p {
    margin-bottom: 10px;
    font-size: 110%;
  }

  .language-button-group {
    display: flex;

    :nth-of-type(n + 2) {
      margin-left: 10px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 12px;
      font-size: 1.5rem;

      &.fdk-bg-color-primary-lighter {
        background: #E5F9FF;
      }

      &.fdk-color-link-darker {
        color: #004A73;
      }

      svg {
        height: 18px;
        width: 18px;
        margin-right: 5px;
      }

      &.no-shadow {
        box-shadow: none;
      }
    }
  }
}
