name: Run tests

on:
  push:
    branches-ignore:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.17.0]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: npm install, build, and test
        run: |
          npm ci --legacy-peer-deps
          npm run build --if-present
        env:
          CI: true
